[user]
	name = Artem Popov
	email = artem.popov@outlook.com
[branch]
	autosetuprebase = always
[branch "master"]
	rebase = true
[color]
	ui = true
[diff]
	tool = vimdiff
[core]
	editor = /usr/local/bin/vim
   
